<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-worker-my-angular-suffix-heading"
        data-cy="WorkerCreateUpdateHeading"
        jhiTranslate="factoryScannerApp.worker.home.createOrEditLabel"
      >
        Создать или отредактировать Worker
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.middleName" for="field_middleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            name="middleName"
            id="field_middleName"
            data-cy="middleName"
            formControlName="middleName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.salary" for="field_salary">Salary</label>
          <input type="number" class="form-control" name="salary" id="field_salary" data-cy="salary" formControlName="salary" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.phoneNumber" for="field_phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control"
            name="phoneNumber"
            id="field_phoneNumber"
            data-cy="phoneNumber"
            formControlName="phoneNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.hireDate" for="field_hireDate">Hire Date</label>
          <div class="input-group">
            <input
              id="field_hireDate"
              data-cy="hireDate"
              type="text"
              class="form-control"
              name="hireDate"
              ngbDatepicker
              #hireDateDp="ngbDatepicker"
              formControlName="hireDate"
            />
            <button type="button" class="btn btn-secondary" (click)="hireDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.grade" for="field_grade">Grade</label>
          <select class="form-control" name="grade" formControlName="grade" id="field_grade" data-cy="grade">
            <option [ngValue]="null">{{ 'factoryScannerApp.Grade.null' | translate }}</option>
            <option *ngFor="let grade of gradeValues" [value]="grade">{{ 'factoryScannerApp.Grade.' + grade | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.job" for="field_job">Job</label>
          <select
            class="form-control"
            id="field_job"
            data-cy="job"
            name="job"
            formControlName="job"
            [compareWith]="compareJobMyAngularSuffix"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="jobOption" *ngFor="let jobOption of jobsSharedCollection">{{ jobOption.title }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.worker.factory" for="field_factory">Factory</label>
          <select
            class="form-control"
            id="field_factory"
            data-cy="factory"
            name="factory"
            formControlName="factory"
            [compareWith]="compareFactoryMyAngularSuffix"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="factoryOption" *ngFor="let factoryOption of factoriesSharedCollection">{{ factoryOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
