<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-machine-my-angular-suffix-heading"
        data-cy="MachineCreateUpdateHeading"
        jhiTranslate="factoryScannerApp.machine.home.createOrEditLabel"
      >
        Создать или отредактировать Machine
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.machine.model" for="field_model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.machine.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'factoryScannerApp.MachineType.null' | translate }}</option>
            <option *ngFor="let machineType of machineTypeValues" [value]="machineType">
              {{ 'factoryScannerApp.MachineType.' + machineType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="factoryScannerApp.machine.factory" for="field_factory">Factory</label>
          <select
            class="form-control"
            id="field_factory"
            data-cy="factory"
            name="factory"
            formControlName="factory"
            [compareWith]="compareFactoryMyAngularSuffix"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="factoryOption" *ngFor="let factoryOption of factoriesSharedCollection">{{ factoryOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Сохранить</span>
        </button>
      </div>
    </form>
  </div>
</div>
