<div>
  <h2 id="page-heading" data-cy="MachineHeading">
    <span jhiTranslate="factoryScannerApp.machine.home.title">Machines</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="factoryScannerApp.machine.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-machine-my-angular-suffix"
        [routerLink]="['/machine-my-angular-suffix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="factoryScannerApp.machine.home.createLabel"> Создать новый Machine </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="machines?.length === 0">
    <span jhiTranslate="factoryScannerApp.machine.home.notFound">Machines не найдено</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="machines && machines.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="model">
            <div class="d-flex">
              <span jhiTranslate="factoryScannerApp.machine.model">Model</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="factoryScannerApp.machine.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="factory.id">
            <div class="d-flex">
              <span jhiTranslate="factoryScannerApp.machine.factory">Factory</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let machine of machines; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/machine-my-angular-suffix', machine.id, 'view']">{{ machine.id }}</a>
          </td>
          <td>{{ machine.model }}</td>
          <td jhiTranslate="{{ 'factoryScannerApp.MachineType.' + machine.type }}">{{ machine.type }}</td>
          <td>
            <div *ngIf="machine.factory">
              <a [routerLink]="['/factory-my-angular-suffix', machine.factory.id, 'view']">{{ machine.factory.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/machine-my-angular-suffix', machine.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/machine-my-angular-suffix', machine.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
              </button>

              <button type="submit" (click)="delete(machine)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
