<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span jhiTranslate="userManagement.detail.title">Пользователь</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="userManagement.login">Логин</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success" jhiTranslate="userManagement.activated">Активен</span>
          <span *ngIf="!user.activated" class="badge bg-danger" jhiTranslate="userManagement.deactivated">Неактивен</span>
        </dd>

        <dt><span jhiTranslate="userManagement.firstName">Имя</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span jhiTranslate="userManagement.lastName">Фамилия</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span jhiTranslate="userManagement.email">Эл. почта</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span jhiTranslate="userManagement.langKey">Язык</span></dt>
        <dd>{{ user.langKey }}</dd>

        <dt><span jhiTranslate="userManagement.createdBy">Создал</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span jhiTranslate="userManagement.createdDate">Дата создания</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span jhiTranslate="userManagement.lastModifiedBy">Изменено</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span jhiTranslate="userManagement.lastModifiedDate">Дата изменения</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span jhiTranslate="userManagement.profiles">Профили</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
      </button>
    </div>
  </div>
</div>
