<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">Сброс пароля</h1>

      <jhi-alert-error></jhi-alert-error>

      <div class="alert alert-warning" *ngIf="!success">
        <span jhiTranslate="reset.request.messages.info">Введите эл. почту, указанный при регистрации</span>
      </div>

      <div class="alert alert-success" *ngIf="success">
        <span jhiTranslate="reset.request.messages.success"
          >Проверьте вашу эл. почту для подробной информации о том, как сбросить пароль.</span
        >
      </div>

      <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
        <div class="mb-3">
          <label class="form-label" for="email" jhiTranslate="global.form.email.label">Эл. почта</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="{{ 'global.form.email.placeholder' | translate }}"
            formControlName="email"
            data-cy="emailResetPassword"
            #email
          />

          <div
            *ngIf="
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.required"
              jhiTranslate="global.messages.validate.email.required"
            >
              Email должен быть указан.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.email"
              jhiTranslate="global.messages.validate.email.invalid"
            >
              Email не верен.
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.minlength"
              jhiTranslate="global.messages.validate.email.minlength"
            >
              Длина email должна быть хотя-бы 5 символов
            </small>

            <small
              class="form-text text-danger"
              *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
              jhiTranslate="global.messages.validate.email.maxlength"
            >
              Email не может быть длиннее чем 50 символов
            </small>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="resetRequestForm.invalid"
          class="btn btn-primary"
          jhiTranslate="reset.request.form.button"
          data-cy="submit"
        >
          Сбросить пароль
        </button>
      </form>
    </div>
  </div>
</div>
